#
/lib/*.jar
/test/files/codelib/*.jar
/test/files/lib/*.jar
/test/files/speclib/instrumented.jar
/tools/*.jar

# Developer specific properties
/build.properties
/buildcharacter.properties

# target directory for build
/build/

# other
/out/
/bin/
/sandbox/

# intellij
/src/intellij*/*.iml
/src/intellij*/*.ipr
/src/intellij*/*.iws
**/.cache
/.idea
/.settings

# vscode
/.vscode

# sbt's target directories
/target/
/project/**/target/
/test/macro-annot/target/
/test/files/target/
/test/target/
/build-sbt/
local.sbt
jitwatch.out

# metals
.metals
.bloop
project/**/metals.sbt

.bsp

target
/project/project/

.DS_STORE

# swift

.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
../.swiftpm/config/registries.json
../.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.swiftpm